.finaltable-container {
  width: 700px;
  height: 450px;
  overflow: hidden;
}

.finaltable-wrapper {
  overflow-y: scroll;
  height: 100%;
}
.finalcart-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position: sticky;
  top: 14px;
  margin: 15px 0px;
}
.finalcarttable {
  width: 600px;
  border-collapse: collapse;
  margin-right: 3rem;
  table-layout: auto;
}

thead {
  position: sticky;
  top: 0;
  background-color: inherit;
}

.finaltable-footer {
  position: sticky;
  bottom: 0;
  background-color: inherit;
}

.finalcart-body {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.finalcart-row {
  font-size: 20px;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.finalcart-data {
  border-bottom: 1px solid black;
}
.finalcart-head,
.finalcart-data {
  padding: 8px;
  text-align: left;
}
.finalcart-body {
  display: block;
  overflow-x: hidden;
  height: calc(100% - 70px); /* Subtract header and footer height */
  overflow-y: auto;
}
.finaltotal-row {
  font-weight: bold;
}

.finalcart-head {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #70a5cd;
  color: white;
  border-right: 1px solid white;
}
.finaltable-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 90px); /* Subtract header and footer height */
}
