body {
  background: rgb(250, 254, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 254, 255, 1) 2%,
    rgba(100, 181, 223, 1) 100%
  );
}

/* 

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {

}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  margin-top: 10px;
}

span {
  color: blue;
  cursor: pointer;
} */
.login-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #256f28;
}
.login-header {
  text-align: center;
}
.login-info {
  text-align: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.login-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
