body {
  background: rgb(250, 254, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 254, 255, 1) 2%,
    rgba(100, 181, 223, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px rgb(52, 155, 219);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

button.btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #45a049;
}
