.addbtn {
  background-color: rgb(62, 62, 218);
  border-radius: 3px;
  border: 1px solid blue;
  padding: 3px 6px;
  margin: 2px;
  cursor: pointer;
  color: aliceblue;
}
.addbtn:hover {
  background-color: rgb(4, 4, 241);
}
