.finalcart-amount {
  font-size: 30px;
}
.finalcart-table {
  margin-top: 100px;
}
.table-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btns {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
