.carttable {
  width: 500px;
  border-collapse: collapse;
  margin-right: 3rem;
  table-layout: auto;
}

.carttable .cart-data,
.carttable .cart-head {
  text-align: left;
  padding: 10px 15px;
}

.carttable .cart-head {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #70a5cd;
  color: white;
  border-right: 1px solid white;
}

.cart-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 15px 0px;
}
.cart-total {
  text-align: left;
  padding: 10px 15px;
}
.cart-amonut {
  text-align: left;
  padding: 10px 15px;
}
.cart-data {
  border-bottom: 1px solid black;
}
.carttable-container {
  position: sticky;
  top: 20px;
}
