.info-card {
  display: flex;
  font-family: "Outfit", sans-serif;
  background-color: rgba(49, 68, 99, 0.858);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.7rem;
  color: #e7e1e1;
}
.cart-price {
  margin: 0.1rem 0;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.cartcard-food-about {
  margin: 0.5rem 0;
}
.cart-food-img {
  width: 10rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.4rem;
}
.cartcard-food-about {
  width: 20rem;
}
.btn-2 {
  display: flex;
  align-items: center;
}
.name-desc-div {
  padding: 0 1rem;
}
.cart-card-foodname {
  margin: 0;
}
.cart-buttonMinus,
.cart-buttonPlus {
  height: 0;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  color: rgb(254, 253, 253);
  background-color: rgb(22, 109, 189);
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}
.cart-count {
  text-align: center;
  padding: 0 1rem;
  color: rgb(246, 241, 241);
}
.cartbtn-div {
  width: 7rem;
}
.cart-btn {
  margin: 0.3rem 0 0 0.8rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
}
