.cart-card {
  font-family: Arial, sans-serif;
  text-align: center;
  border-radius: 30px;
  width: 500px;
  background-color: rgb(224, 100, 100);
  padding: 3px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.cart-card-foodname {
  text-align: center;
}
.cart-card-food-about {
  text-align: left;
  /* padding-right: 10px; */
}
img.cart-food-img {
  float: left;
  border-radius: 20px;
  width: 200px;
  height: 140px;
  object-fit: cover;
  margin-top: 20px;
  margin-right: 10px;
  padding: 5px;
}
.cart-card-buttons {
  display: flex;
}

.cart-buttonPlus {
  margin-right: 20px;
  font-size: 20px;
  padding: 8px 13px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: rgb(36, 135, 211);
  border: 1px solid rgb(36, 135, 211);
}
.cart-buttonMinus {
  margin-left: 20px;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 50%;
  background-color: rgb(36, 135, 211);
  border: 1px solid rgb(36, 135, 211);
}

.info-card {
  padding: 5px;
}

.btn-2 {
  display: flex;
  margin-left: 15px;
}

.cart-count {
  margin-left: 20px;
}
