.bakery-cards {
  background-color: white;
  width: 200px;
  height: 250px;
  text-align: center;
  text-align: center;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0px rgba(227, 226, 226, 0.858);
  transition: 0.3s;
  margin: 20px 12px;
}
