.bakery-cards {
  font-family: "Outfit";
  background-color: rgb(108, 131, 110);
  width: 15rem;
  height: 25rem;
  color: rgb(236, 240, 243);
  text-align: center;
  text-align: center;
  z-index: 1;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(125, 121, 121, 0.858);
  transition: 0.3s;
  margin: 0 1rem;
}
.bakery-img {
  width: 13rem;
  height: 10rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
.bakery-foodname {
  font-size: 1.7rem;
  margin: 1rem 0;
}
.bakery-btn {
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
}
.bakery-about {
  margin: 0.5rem 0;
  padding: 0 1rem;
}
