/* .carttable {
  width: 500px;
  border-collapse: collapse;
  margin-right: 3rem;
  table-layout: auto;
}

.carttable .cart-data,
.carttable .cart-head {
  text-align: left;
  padding: 10px 15px;
}
.carttable .cart-head {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #70a5cd;
  color: white;
  border-right: 1px solid white;
}
.table-head {
  position: sticky;
  top: 75px;
}
.cart-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position: sticky;
  top: 14px;
  margin: 15px 0px;
}
.cart-total {
  text-align: left;
  padding: 10px 15px;
}
.cart-amonut {
  text-align: left;
  padding: 10px 15px;
}
.cart-data {
  border-bottom: 1px solid black;
}
.carttable-container {
  position: sticky;
}
.scroll {
  height: 50px;
} */
.table-container {
  width: 500px;
  height: 450px;
  overflow: hidden;
}

.table-wrapper {
  overflow-y: scroll;
  height: 100%;
}
.cart-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  position: sticky;
  top: 14px;
  margin: 15px 0px;
}
.carttable {
  width: 500px;
  border-collapse: collapse;
  margin-right: 3rem;
  table-layout: auto;
}

thead {
  position: sticky;
  top: 0;
  background-color: inherit;
}

.table-footer {
  position: sticky;
  bottom: 0;
  background-color: inherit;
}

tbody {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.cart-data {
  border-bottom: 1px solid black;
}
.cart-head,
.cart-data {
  padding: 8px;
  text-align: left;
}
.cart-body {
  display: block;
  overflow-x: hidden;
  height: calc(100% - 70px); /* Subtract header and footer height */
  overflow-y: auto;
}
.total-row {
  font-weight: bold;
}

.cart-head {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #70a5cd;
  color: white;
  border-right: 1px solid white;
}
.table-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 90px); /* Subtract header and footer height */
}
