.nav {
  position: sticky;
  top: 0;
  padding-top: 5px;
  z-index: 1;
  font-family: "Outfit", sans-serif;
  color: rgb(244, 239, 239);
  display: flex;
  align-items: center;
  background-color: transparent;
  /* background: rgb(88, 152, 196);
  background: linear-gradient(
    90deg,
    rgba(88, 152, 196, 1) 42%,
    rgba(233, 233, 233, 1) 88%
  );
  box-shadow: 0px 10px 19px 0px rgba(113, 104, 104, 0.75); */
}
.title {
  text-align: left;
  font-weight: bold;
  margin-left: 4%;
  font-size: 30px;
  color: rgb(245, 242, 242);
}
div > .elements {
  margin-left: 30px;
}
.text-link {
  color: rgb(244, 239, 239);
  text-decoration: inherit;
}
.text-link:hover {
  color: rgb(198, 127, 66);
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.navbar-links {
  display: flex;
}
.nav-buttons {
  display: flex;
  align-items: center;
}
.nav-title {
  width: 50%;
}
.nav-buttons {
  display: flex;
}
.linkelements:before {
  font-size: 20px;
  margin-left: 30px;
  content: "";
  border-bottom: 0px;
  background-color: rgb(27, 226, 67);
  transition: border-bottom 0.3s;
}
.links {
  display: flex;
}
.navbar-toggler {
  cursor: pointer;
}
.nav-li {
  list-style: none;
}
.linkelements:hover:before {
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 2.5px solid rgb(9, 250, 38);
  list-style: none;
}
.navbar-toggler {
  display: none;
}
.user-name {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .nav-on {
    position: fixed;
    left: 0;
    right: 0;
    width: 50%;
    height: 70vh;
    border-right-width: 1px;
    background-color: skyblue;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
  .nav-off {
    position: relative;
    left: -100%;
  }
}
