.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Outfit", sans-serif;
  color: rgb(244, 239, 239);
  display: flex;
  align-items: center;
  background-color: transparent;
}
.cartbtn {
  padding: 0.5rem 1rem;
  color: rgb(247, 242, 242);
  font-weight: bold;
  background-color: #0e7edb;
  border-radius: 0.3rem;
  border: #4387bf;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
  box-shadow: 0 0.7px 4px rgb(92, 90, 90);
  transition: 0.3s;
  font-size: 1.3rem;
}
.cartbtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: rgba(76, 216, 76, 0.703);
  transition: all 0.2s ease-in-out;
}
.cartbtn:hover::after {
  height: 100%;
  color: rgb(247, 242, 242);
}
.title {
  text-shadow: 4px 0.7px 10px rgb(25, 26, 27);
  text-align: left;
  font-weight: bold;
  margin-left: 4%;
  font-size: 30px;
  color: rgb(245, 242, 242);
}
div > .elements {
  margin-left: 30px;
}
.text-link {
  color: rgb(244, 239, 239);
  text-decoration: inherit;
}
.text-link:hover {
  color: rgb(239, 240, 244);
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.navbar-links {
  display: flex;
}
.nav-buttons {
  display: flex;
  align-items: center;
}
.nav-title {
  width: 50%;
}
.nav-buttons {
  display: flex;
}
.linkelements {
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 0.5px solid transparent;
  transition: all 0.3s ease-in-out;
}

.linkelements:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.15rem;
  background-color: rgba(6, 7, 6, 0.703);
  transition: width 0.3s ease-in-out;
}

.linkelements:hover:before {
  /* Expand the width to create the left-to-right animation */
  width: 100%;
}

.nav-li {
  font-size: 20px;
  padding: 1rem 0;
  margin-left: 30px;
}

.links {
  display: flex;
}
.navbar-toggler {
  cursor: pointer;
}
.nav-li {
  list-style: none;
}
.navbar-toggler {
  display: none;
}
.user-name {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .nav-on {
    position: fixed;
    left: 0;
    right: 0;
    width: 50%;
    height: 70vh;
    border-right-width: 1px;
    background-color: skyblue;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
  .nav-off {
    position: relative;
    left: -100%;
  }
}
