.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Outfit", sans-serif;
  color: rgb(244, 239, 239);
  display: flex;
  align-items: center;
  background-color: transparent;
}
.cartbtn {
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  background-color: #4387bf;
  border-radius: 0.3rem;
  border: #4387bf;
  cursor: pointer;
  margin-left: 1rem;
  transition: 0.3s;
  font-size: 1.3rem;
}
.cartbtn:hover {
  background-color: rgb(98, 179, 98);
}
.title {
  text-align: left;
  font-weight: bold;
  margin-left: 4%;
  font-size: 30px;
  color: rgb(245, 242, 242);
}
div > .elements {
  margin-left: 30px;
}
.text-link {
  color: rgb(244, 239, 239);
  text-decoration: inherit;
}
.text-link:hover {
  color: rgb(43, 50, 151);
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.navbar-links {
  display: flex;
}
.nav-buttons {
  display: flex;
  align-items: center;
}
.nav-title {
  width: 50%;
}
.nav-buttons {
  display: flex;
}
.linkelements {
  font-size: 20px;
  margin-left: 30px;
}
.links {
  display: flex;
}
.navbar-toggler {
  cursor: pointer;
}
.nav-li {
  list-style: none;
}
.linkelements:hover {
  font-size: 22px;
  padding-bottom: 5px;
  border-bottom: 2.5px solid rgb(0, 252, 29);
  list-style: none;
}
.navbar-toggler {
  display: none;
}
.user-name {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .nav-on {
    position: fixed;
    left: 0;
    right: 0;
    width: 50%;
    height: 70vh;
    border-right-width: 1px;
    background-color: skyblue;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }
  .nav-off {
    position: relative;
    left: -100%;
  }
}
