.card {
  text-align: center;
  border-radius: 40px;
  transition: 0.5s;
  width: 300px;
  padding: 20px 10px;
  margin: 20px 20px;
  background-color: rgba(49, 68, 99, 0.858);
}
.card:hover {
  box-shadow: 5px 5px 10px 2px rgba(98, 130, 175, 0.858);
}
.food-reviews {
  font-size: 10px;
}
.card-foodname {
  font-size: 20px;
  margin-bottom: 10px;
}

.star-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.food-img {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.price {
  font-size: 18px;
}
.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.count {
  font-size: 15px;
  margin-bottom: 4px;
}
.cardtext {
  font-family: Arial, sans-serif;
  color: white;
}

.buttonPlus {
  background-color: #4387bf;
  cursor: pointer;
  border: #4387bf;
  padding: 7px 12px;
  border-radius: 50%;
}
.buttonMinus {
  background-color: #4387bf;
  cursor: pointer;
  border: #4387bf;
  padding: 7px 12px;
  border-radius: 50%;
}
.card-food-about {
  margin-bottom: -8px;
}
.notClicked {
  padding: 8px 11px;
  color: white;
  font-weight: bold;
  background-color: #4387bf;
  border-radius: 10px;
  border: #4387bf;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2),
    0 6px 21px 5px rgba(0, 0, 0, 0.19);
}
.clicked {
  padding: 8px 11px;
  color: rgb(42, 32, 32);
  font-weight: bold;
  background-color: #38cc96;
  border-radius: 10px;
  border: #4387bf;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 8px 16px 2px rgba(0, 0, 0, 0.2),
    0 6px 21px 5px rgba(0, 0, 0, 0.19);
}
