.products {

}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2rem;
  border-bottom: 0.2rem solid gray;
}

.productTable {
  padding: 1rem 1rem;
}

.drawerBody {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

.ant-drawer-content-wrapper {
  width: 30rem !important;
}

.drawerContentLabel {
  color: rgb(93, 93, 93);
  margin: 0.4rem 0;
}

.drawerFooter{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}