.footer {
  background-color: rgb(241, 235, 233);
  display: flex;
  height: 70vh;
  align-items: flex-end;
  justify-content: space-around;
  background: rgb(250, 254, 255);
  background: linear-gradient(
    90deg,
    rgba(250, 254, 255, 1) 2%,
    rgba(100, 181, 223, 1) 100%
  );
}
.icon {
  padding-left: 10px;
}
.location-container {
  text-align: left;
  margin-left: 40px;
  width: 50%;
}
.follow {
  text-align: left;
  margin-bottom: 10px;
  width: 50%;
}
.location {
  text-align: left;
  font-size: 30px;
  margin: 10px 0px;
}
.head {
  font-size: 30px;
  margin: 10px 0px;
}
.address {
  text-align: left;
}
.privacy {
  text-align: left;
}
